<ion-content [fullscreen]="true">
    <div class="div___content">
        <div style="padding: 38px 38px 0px 38px;">
            <h3 class="h3___welcome">¡Bienvenido!</h3>
            <h1 class="h1___login mt-10">Registrate</h1>
            <h4 class="h4___description">Usa tus datos para registrarte.</h4>
        </div>
        <form [formGroup]="data" (ngSubmit)="continue()">
            <div class="div___subcontainer mt-30">
                <div style="background-color: #f5f5f5; border-radius: 8px; padding: 10px;">
                    <h4 class="h4___fields">Nombre</h4>
                    <div class="mt-5">
                        <academy-input id="name" format="text" formControlName="name" required [c]="data.controls.name"
                            placeholder="Jose Manuel"></academy-input>
                    </div>
                    <h4 class="h4___fields mt-30">Apellido paterno</h4>
                    <div class="mt-5">
                        <academy-input id="lastname" format="text" formControlName="lastname" required
                            [c]="data.controls.lastname" placeholder="Garcia"></academy-input>
                    </div>
                    <h4 class="h4___fields mt-30">Apellido Materno</h4>
                    <div class="mt-5">
                        <academy-input id="secondlastname" format="text" formControlName="secondlastname" required
                            [c]="data.controls.secondlastname" placeholder="de la O"></academy-input>
                    </div>
                    <h4 class="h4___fields mt-30">Fecha de nacimiento</h4>
                    <div class="mt-5">
                        <academy-input id="birthdate" format="date" formControlName="birthdate" required
                            [c]="data.controls.birthdate" placeholder="24/06/1995"></academy-input>
                    </div>
                    <h4 class="h4___fields mt-30">Edad</h4>
                    <div class="mt-5">
                        <academy-input id="age" format="number" formControlName="age" required [c]="data.controls.age"
                            placeholder="12"></academy-input>
                    </div>
                </div>
            </div>
            <div class="div___subcontainer mt-30">
                <div style="background-color: #f5f5f5; border-radius: 8px; padding: 10px;">
                    <h4 class="h4___fields">Ubicacion</h4>
                    <div class="mt-5">
                        <academy-input [inner]="result[0].addressLines[0]" [disabled]="true"
                            placeholder="Av del lago 230, Fracc Real del Country"></academy-input>
                    </div>
                </div>
            </div>
            <capacitor-google-map #map></capacitor-google-map>
            <div style="padding: 0 38px 38px 38px;">
                <div class="mt-30">
                    <academy-button type="submit" text="Continuar"></academy-button>
                </div>
            </div>
        </form>
    </div>

</ion-content>